<div class="container mt-5">
    <h2>Booking Update Form</h2>
    <form action="/bookings/update/{{booking.id}}" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker"  inline="true">
        <label for="date-picker-example">Check In</label>
            <input placeholder="Select date" type="date" name="checkInDate" id="example" required class="form-control">
           
        </div>
        <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker"  inline="true">
            <label for="date-picker-example">Check Out</label>
            <input placeholder="Select date" type="date" name="checkOutDate" id="example" required class="form-control">
           
        </div>
        
        <div class="form-group">
            <label for="type">Status:</label>
            <select class="form-control" id="type" name="status">
                <option value="">Select status</option>
                <option value="approved">Approved</option>
                <option value="rejected">Rejected</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>