{{!-- views/register.handlebars --}}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form id="registration-form" method="POST">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Register</button>
            </form>
        </div>
    </div>
</div>

